<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /RaYnkLabs(PHP)/
    
    # Allow direct access to files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php in public folder
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>
